<div class="card flex-row flex-wrap">
    <div class="card-header border-0">
        <img src="{{image}}" alt="article image" class="img-rounded" width=200; height=150>
    </div>
    <div class="card-block px-2">
        <h4 class="card-title">
            <a href="https://www.medicalnewstoday.com{{link}}">
            {{title}}
            </a>
        </h4>
        <p class="card-text">{{summary}}</p>

        <div class="saved" {{#unless saved}}hidden{{/unless}}>
            <button type="button" class="btn btn-success" data-id="{{_id}}" data-toggle="modal" data-target='#notesModal'>Article Notes</button>
            <button type="button" class="btn btn-danger" onclick="saveArticle('{{_id}}', false)">Delete Saved Article</button>
        </div>

        <div class="unsaved" {{#if saved}}hidden{{/if}}>
            <button type="button" class="btn btn-danger" onclick="saveArticle('{{_id}}', true)">Save Article</button>
       <!-- <a href="#" class="btn btn-danger" onclick="saveArticle('{{_id}}', true)">Save Article</a> -->
        </div>
    </div>
    <div class="w-100"></div>
    <div class="card-footer w-100 text-muted">
        {{friendlyDate date}}
    </div>
</div>